<%- include('../partials/header') %>
<br>
<br>
<section class="business-list row justify-content-center">
      <div class="container">
      <% if (business.businessId === currentUser.id) { %>
          <div class="row">
            <div class="col-lg-7">
              <div class="card">
                <div class="card-header d-flex align-items-center" style="display:flex; justify-content:center;">
                <% for (let supplier of supplierRelationship) { %>
                  <% if(supplier.supplierId === business.supplierId && supplier.businessId === business.businessId) { %>
                    <strong style="font-family: 'Ubuntu', sans-serif;"><i class="fa fa-briefcase" aria-hidden="true"></i> <%= supplier.businessName %></strong>
                    <form class="ml-auto deleteRelationship" action="/businesses/<%= business.id %>?_method=DELETE" method="POST">
                      <input type="submit" class="btn-danger" value="DELETE SUPPLIER">
                    </form>
                  <% } %>
                <% } %>
                </div>
                <div class="card-body">
                  <h4 style="font-family: 'Ubuntu', sans-serif;">ORDERS</h4>
                    <% for (let order of businessOrders) { %>
                      <% if (business.businessId === order.businessId && business.supplierId === order.supplierId) { %>
                        <%#----------- empty quantity clarification -------------------%>
                        <% if (order.quantity === "" || order.quantity === "0") { %>
                          <div class="row orderEditView animated fadeIn" style="background-color: #ff9d9d">
                        <% } else { %>
                          <div class="row orderEditView animated fadeIn" style="background-color: #c6e9ce">
                        <% } %>
                          <div class="col-md-4">
                            <p>
                        <% if (order.quantity === "" || order.quantity === "0") { %>
                            <i class="fa fa-minus" aria-hidden="true"></i> Order Name: <strong style="text-transform: uppercase"><%= order.order_name %></strong>
                        <% } else { %>
                            Order Name: <strong style="text-transform: uppercase" class="order_nameEditSelect"><%= order.order_name %></strong>
                        <% } %>
                            </p>
                          </div>
                          <div class="col-md-4">
                            <p>
                              Quantity: <strong><%= order.quantity %></strong>
                            </p>
                          </div>
                          <div class="col-md-4">
                            <form
                              class="d-flex flex-column"
                              action="/businesses/<%= business.id %>/orders/<%= order.id %>?_method=DELETE"
                              method='POST'
                            >
                                <input
                                  class="btn btn-warning"
                                  type='submit'
                                  value='Delete Order'
                                  style="padding: 2px;background-color:#ffeaab;"
                                />
                            </form>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
              </div>
            </div>
          </div>

<%# ---------------------------------- EDIT ORDERS ------------------------------------ %>
          <div class="col-lg-5" id="editForm">
              <div class="container">
                    <h4 style="margin-bottom: 10px;font-family: 'Ubuntu', sans-serif;">Edit Orders</h4>
                    <hr>
                    <% for (let order of businessOrders) { %>
                        <% if (business.businessId === order.businessId && business.supplierId === order.supplierId) { %>
                      <form
                        class="d-flex flex-column"
                        action="/businesses/<%= business.id %>/orders/<%= order.id %>?_method=PATCH"
                        method='POST'
                      >
                        <div class="row animated fadeIn">
                          <div class="col-md-5">
                                <input
                                  type="text"
                                  class="form-control order_nameEdit"
                                  name='order_name'
                                  value="<%= order.order_name %>"
                                ></input>
                              <br>
                        </div>
                          <div class="col-md-5">
                                <input
                                  type="text"
                                  class="form-control"
                                  name='quantity'
                                  value="<%= order.quantity %>"
                                ></input>
                              <br>
                        </div>
                        <div class="col-md-2">
                              <input
                                class="btn btn-outline-primary align-self-end"
                                type='submit'
                                value='Edit'
                              />
                        </div>
                      </div>
                     </form>
                  <% } %>
                <% } %>
              </div>
            </div>
          </div>

<%#--------------------------- Confrim Order Button ---------------------------%>
            <% if (business.confirm === false) { %>
            <form class="form-inline"  style="width:100%; padding-top:20px" action="/businesses/send/<%= business.id %>?_method=PATCH" method='POST'>
              <div class="row" style="margin: auto;">
                <button type="submit" class="btn btn-primary active" style="width: 160px;">Send Order <i class="fa fa-paper-plane-o" aria-hidden="true"></i> </button>
              </div>
            </form>
            <% } else { %>
            <form class="form-inline"  style="width:100%; padding-top:20px" action="/businesses/confirm/<%= business.id %>?_method=PATCH" method='POST'>
              <div class="row" style="margin: auto">
                <button type="submit" class="btn btn-outline-success active">Order Successfully Delivered! <i class="fa fa-truck" aria-hidden="true"></i></button>
              </div>
            </form>
           <% } %>
            <br>
            <%#- Back Button -%>
            <form class="form-inline" action="/businesses" method="GET">
                  <input class="btn btn-outline-primary" type="submit" value="Go Back">
            </form>

      <% } %>

<%# ------------>>>>>>>>>>>>>>>> SUPPLIER VIEW WITH GOOGLE MAP <<<<<<<<<<<<<<<<<--------------- %>
    <% if (currentUser.userType == "supplier") { %>
      <div class="row" style="box-shadow:7px 7px 7px #888888">
        <div class="col-md-6 restaurantInfo">
        <div class="restaurantInfoBox">
          <div class="animated fadeIn">
            <% for (let res of supplier) { %>
                <% if (business.businessId === res.businessId) { %>
                  <h1 class="restaurantName" style="font-family: 'Ubuntu', sans-serif;"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp<%= res.businessName %></h1>
                  <div id="restaurantEmail"><strong><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp<%= res.email %></strong></div>
                  <div id="restaurantAddress"><i class="fa fa-home" aria-hidden="true"></i>&nbsp<%=  res.street %>&nbsp<%=  res.city %>&nbsp<%=  res.province %>&nbsp<%=  res.postal %></div>
                <% } %>
            <% } %>
            <% for (let sup of supplierRelationship) { %>
                <% if (business.supplierId === sup.supplierId && business.businessId === sup.businessId) { %>
                  <div id="supplierAddress" style="display: none"><i class="fa fa-home" aria-hidden="true"></i>&nbsp<%=  sup.street %>&nbsp<%=  sup.city %>&nbsp<%=  sup.province %>&nbsp<%=  sup.postal %></div>
                <% } %>
                <div id="distance"></div>
            <% } %>
          <hr style="border: 1px solid #ccc;">
          <h4 style="font-family: 'Ubuntu', sans-serif;">Order Detail</h4>
            <ul>
            <% for (let order of supplierOrders) { %>
                <% if (business.businessId === order.businessId && business.supplierId === order.supplierId) { %>
                    <li class="d-inline" style="margin-bottom: -10px;text-transform: uppercase"><%= order.order_name %> : <p class="d-inline deliveryOrderQuantity"><%= order.quantity %></p><br></li>
                <% } %>
            <% } %>
            </ul>
        </div>
          <% if (business.confirm === true) { %>
            <form class="form-inline"  style="width:100%; margin-top:20px" action="/businesses/confirm/<%= business.id %>?_method=PATCH" method='POST'>
              <div class="row animated" style="margin: auto">
                <button type="submit" class="btn btn-outline-success active">Order Successfully Delivered! <i class="fa fa-truck" aria-hidden="true"></i></button>
              </div>
            </form>
          <% } %>
          </div>
        </div>
        <div class="col-md-6 mapInfo">
          <h4 style="text-align: center;font-family: 'Ubuntu', sans-serif;">Location</h4>
          <div id="map"></div>
        </div>
      </div>
        <br>
        <%#---- Back Button ----%>
        <form class="form-inline" action="/businesses" method="GET">
              <input class="btn btn-outline-primary" type="submit" value="Go Back">
        </form>
    <% } %>
      <br>
      <br>
      <br>
      <br>

      </div>
</section>

<%- include('../partials/footer') %>
