<%- include('../partials/header') %>
<br>
  <section class="businesses-list row justify-content-center" id="indexSection">
          <%# <div class="plus" style="width: 100%; text-align: center">Click to Create</div>%>

      <!-- Create Business-->
          <div class="container" style="text-align: center">
              <!-- Trigger the modal with a button -->
              <h2>My Suppliers</h2>
              <a href="#" data-toggle="modal" data-target="#myModal">Add Supplier</a>
              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add a Supplier</h4>
                    </div>
                    <div class="modal-body">
                      <!-- Inside Modal : supplier and day selector -->
                        <form class="form-inline" action="/businesses/supplierList" method='POST'>
                          <div class="row" style="margin: auto;" id="business_form">
                            <select name="supplierId" class="supplierSelector">
                                  <option> Select Supplier </option>
                                <% for (let supplier of suppliers) { %>
                                  <option class="supplierLists" value=<%= supplier.id %>><%= supplier.businessName %></option>
                                <% } %>
                            </select>
                            <div class="form-group">
                              <input
                                style="margin-left: 10px"
                                class="form-control"
                                type="text"
                                name="day"
                                placeholder="Add Delivery Days"
                              >
                            </div>
                            <button type="submit" class="btn btn-primary addButton">Add</button>
                          </div>
                        </form>
                      <!-- -->
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>
                </div>
              </div>
            </div>


        <% for (let supplier of businessSuppliers) { %>
          <% if (supplier.businessId === currentUser.id) { %>
            <div class="col-md-10 list_show names">
              <% if (supplier.confirm === true) { %>
              <div class="card businessRow animated fadeInDown" style="background-color: #ccf0d5;">
              <% } else { %>
              <div class="card businessRow animated fadeInDown">
              <% }  %>
                <div class="card-header" style="padding-bottom: 7px">
                      <div class="row">
                        <div class="col-md-5">
                          <h5 class="supplierName" style="display: inline-block;text-transform: uppercase;"><%= supplier.businessName %></h5>
                        </div>
                        <div class="col-md-7">
                                  <h5 style="display: inline-block;text-transform: uppercase;"><%= supplier.day %></h5>
                                  <% if (supplier.confirm === true) { %>
                                    <i class="fa fa-circle" aria-hidden="true" style="float:right;color:red"></i>
                                  <% } %>
                              <a class="checkOrder" href="/businesses/<%= supplier.id %>/edit">Edit Order</a>
                        </div>
                      </div>
                </div>
              </div>
            </div>

            <div class="col-md-10" style="display: none;">
              <div class="card">

              <!-- form group -->
              <div class="row" style="padding-top: 15px;margin: auto;">
                <div class="col-md-4">
                    <form action="/businesses/<%= supplier.supplierId %>/orders" method="POST">
                         <div class="form-group">
                           <input
                             class="form-control"
                             type="text"
                             rows="3"
                             name="order_name"
                             placeholder="Add Orders"
                           >
                         </div>
                </div>
                <div class="col-md-4">
                           <div class="form-group">
                             <input
                               class="form-control"
                               type="text"
                               rows="3"
                               name="quantity"
                               placeholder="Add Quantity"
                             >
                           </div>
                </div>
                <div class="col-md-4">
                           <div class="form-group">
                             <input
                               class="form-control"
                               type="text"
                               rows="3"
                               name="message"
                               placeholder="Optional Message"
                             >
                           </div>
                </div>
                <div style="margin: auto;">
                          <input
                          class="btn btn-outline-primary"
                          type="submit"
                          value="Submit"
                          style="width: 200px;margin-bottom: 15px"
                          >
                    </form>
                </div>
              </div>

<%# -------------------------- ORDER SECTION -------------------------- %>
              <div class="card-header list_dropdown">
                    <% for (let order of orders) { %>
                      <% if (order.supplierId === supplier.supplierId && order.businessId === supplier.businessId) { %>
                        <% if (order.quantity === "" || order.quantity === "0") { %>
                        <div class="row orderRow" style="background-color: #ff9d9d;border: solid 1px #d38787">
                        <% } else { %>
                        <div class="row orderRow" style="background-color: #c6e9ce;border: solid 1px #b4cfb4;">
                        <% } %>
                              <div class="col-md-4">
                                  <% if (order.quantity === "" || order.quantity === "0") { %>
                                     <i class="fa fa-minus" aria-hidden="true"></i> name : <strong style="text-transform: uppercase"> <%= order.order_name %></strong>
                                  <% } else { %>
                                     name : <strong style="text-transform: uppercase"> <%= order.order_name %></strong>
                                  <% } %>
                              </div>
                                  <div class="col-md-3">
                                    quantity : <strong><%= order.quantity %></strong>
                                  </div>
                              <div class="col-md-5">
                              <%  if (order['message']) { %>
                                  <div class="message">&nbsp&nbsp<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #ff9d9d; font-size: 20px;"></i>
                                      &nbsp<%= order.message %>
                                  </div>
                              <% } %>
                              </div>
                            </div>
                        <% } %>
                    <% } %>
                  </div>

                </div>
              </div>
          <% } %>
        <% } %>


  </section>


<%- include('../partials/footer') %>
