<%- include('../partials/header') %>
<br>
        <section class="businesses-list row justify-content-center" style="width: 80%;margin: auto;" id="indexSection">
          <h2 style="width: 100%; text-align: center">My Clients</h2>
          <% for (let business of businesses) { %>
            <% if (business.supplierId === currentUser.id) { %>
            <div class="col-md-10 list_show names" style="margin-top: 20px">
              <div class="card businessRow">
                <div class="card-header" style="padding-bottom: 7px">

                      <div class="row">
                        <div class="col-md-5">
                          <h5 style="display: inline-block;text-transform: uppercase;"><%= business.businessName %></h5>
                        </div>
                        <div class="col-md-7">
                          <h5 style="display: inline-block;text-transform: uppercase;"><%= business.day %></h5>
                          <div class="dropdown" style="float:right; display:none">
                           <button class="btn btn-secondary dropdown-toggle"
                                   type="button" id="dropdownMenu1" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false" style="padding:0">
                             Menu
                           </button>
                           <div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="text-align: center;">
                              <a class="dropdown-item" href="/businesses/<%= business.id %>/edit">edit</a>
                           </div>
                          </div>
                        </div>
                      </div>

                </div>
              </div>
            </div>
            <div class="col-md-10" style="display: none;">
              <div class="card">

                <div class="card-header list_dropdown" style="padding-bottom: 7px; background-color: #f9fdff;border-top: solid 1px #e6f1f7;">
                    <% for (let order of orders) { %>
                          <% if (order.supplierId === business.supplierId && order.businessId === business.businessId) { %>
                            <div class="row orderRow" style="margin-top: 5px;">
                              <div class="col-md-4">
                                 name : <strong style="text-transform: uppercase"> <%= order.order_name %></strong>
                              </div>
                              <div class="col-md-3">
                                quantity : <strong><%= order.quantity %></strong>
                              </div>
                              <div class="col-md-5">
                              <%  if (order['message']) { %>
                                  <div class="message">&nbsp&nbsp<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #ffc9c9; font-size: 20px;"></i>
                                      &nbsp<%= order.message %>
                                  </div>
                              <% } %>
                              </div>
                            </div>
                      <% } %>
                    <% } %>
                      <div class="row" style="display: flex;justify-content: center;margin-top:20px">
                        <button type="button" class="btn btn-primary active">Confirm Orders</button>
                      </div>
                </div>
              </div>
            </div>
          <% } %>
        <% } %>


        </section>


<%- include('../partials/footer') %>
