<%- include('../partials/header') %>
<br>
        <section class="businesses-list row justify-content-center" style="width: 80%;margin: auto;" id="indexSection">
          <h2 style="width: 100%; text-align: center;font-family: 'Poppins', sans-serif;">My Clients</h2>
          <% for (let business of businesses) { %>
            <% if (business.supplierId === currentUser.id) { %>
              <div class="col-md-10 list_show names">
              <% if (business.confirm === true) { %>
              <div class="card businessRow animated fadeInDown" style="background-color: #ccf0d5;">
              <% } else { %>
              <div class="card businessRow animated fadeInDown">
              <% }  %>
                <div class="card-header" style="padding-bottom: 7px">

                      <div class="row">
                        <div class="col-md-5">
                          <i class="fa fa-briefcase" aria-hidden="true"></i>
                          <h5 style="display: inline-block;text-transform: uppercase;"><%= business.businessName %></h5>
                        </div>
                        <div class="col-md-7">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                          <h5 style="display: inline-block;text-transform: uppercase;"><%= business.day %></h5>
                            <% if (business.confirm === true) { %>
                              <i class="fa fa-circle" aria-hidden="true" style="float:right;color:red"></i>
                            <% } %>
                              <a class="checkOrder" style="float:right; display:none" href="/businesses/<%= business.id %>/edit">Check Restaurant</a>

                        </div>
                      </div>

                </div>
                <div class="businessRowBottomDeco"></div>
              </div>
            </div>
            <div class="col-md-10" style="display: none;">
              <div class="card">

                <div class="card-header list_dropdown" style="background-color: #f9fdff;border-top: solid 1px #e6f1f7;">
                    <% for (let order of orders) { %>
                          <% if (order.supplierId === business.supplierId && order.businessId === business.businessId) { %>
                            <% if (order.quantity === "" || order.quantity === "0") { %>
                                <div class="row orderRow" style="background-color: #ff9d9d;border: solid 1px #d38787">
                            <% } else { %>
                                <div class="row orderRow" style="background-color: #c6e9ce;border: solid 1px #b4cfb4;">
                            <% } %>
                              <div class="col-md-4">
                              <% if (order.quantity === "" || order.quantity === "0") { %>
                                 <i class="fa fa-minus" aria-hidden="true"></i> name : <strong style="text-transform: uppercase"><%= order.order_name %></strong>
                              <% } else { %>
                                 name : <strong style="text-transform: uppercase"> <%= order.order_name %></strong>
                              <% } %>
                              </div>
                              <div class="col-md-3">
                                quantity : <strong><%= order.quantity %></strong>
                              </div>
                              <div class="col-md-5">
                              <%  if (order['message']) { %>
                                  <div class="message">&nbsp&nbsp<i class="fa fa-hand-o-right" aria-hidden="true" style="color: #ffc9c9; font-size: 20px;"></i>
                                      &nbsp<%= order.message %>
                                  </div>
                              <% } %>
                              </div>
                            </div>
                      <% } %>
                    <% } %>

                </div>
              </div>
            </div>
          <% } %>
        <% } %>


        </section>


<%- include('../partials/footer') %>
